.header {
    padding: 1px;
    text-align: center;
    background: #410ecd;
    color: white;
    font-size: 15px;
  }

.searchSection {
    border: 1px solid red;
}
.currentSection {
    border: 1px solid blue;
}
.forecastSection {
    border: 1px solid green;
}